.loader 
{
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9999;
 background: url('/asset/img/Preloader_2.gif') 50% 50% no-repeat rgb(255,255,255);
}
.answer{
    height: 36px;
   
    background-color: pink;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .media-warning audio {
      visibility: hidden;
      position: absolute;
  }

  .media-warning{
    position: relative;
    padding-left: 20px;
  }


.incorrect{
  background-color: rgb(15, 160, 197) !important;
  color: white !important;

  

}
.active{
    background-color: rgb(15, 160, 197) !important;
    color: white !important;
}
.question{
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
}



  
