.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../img/Preloader_2.gif") 50% 50% no-repeat rgb(255, 255, 255);
}
.media-warning audio {
  visibility: hidden;
  position: absolute;
}

.media-warning {
  position: relative;
  padding-left: 0px;
}

[class~="container-fluid"] {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

[class~="noPadding"] {
  padding: 0 !important;
}
@font-face {
  font-family: myFirstFont;
  src: url(../fonts/SassoonInfantStd.otf);
}

.page-content {
  text-align: center;
  width: 100%;
  height: 60pc;
  transition: all 500ms ease-in-out !important;
  transform-origin: top left;
  position: absolute;
  overflow: hidden;
  font-family: myFirstFont;
  // -webkit-transform:scale(0.7);
  // transform: scale(0.7);
  // left:206px;
  top: 0px;
  h1,
  p {
    font-family: "myFirstFont";
  }

  .main {
    .main--header {
      height: 124.8px;
      align-items: center;
      display: flex;
      background-color: white;
      h1 {
        text-align: left;
      }
      .main--header-groupbutton {
        text-align: right;

        .btnInfo {
          background: {
            image: url("../img/downloadheader.png");
            repeat: no-repeat;
            position: center;
            size: cover;
          }
          margin: 1% 0% 1% 1%;
          width: 60px;
          height: 55px;
          outline : {
            color: transparent;
            style: none;
          }
          border-radius: 15px;
          &:active {
            outline: 0;
            outline-style: none;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
        .btnImg {
          background: {
            image: url("../img/downloadheader1.png");
            repeat: no-repeat;
            position: center;
            size: cover;
          }
          margin: 1% 0% 1% 1%;
          width: 60px;
          height: 55px;
          outline : {
            color: transparent;
            style: none;
          }
          border-radius: 15px;
          &:active {
            outline: 0;
            outline-style: none;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }
    .main--body {
      position: relative;
      padding-left: 25px;
      padding-right: 25px;
      .main--bodyLayer {
        height: 675px;
        top: 11.25px;
        left: 0;
        position: absolute;
        background-color: #0fa0c5;
      }
      .main--body-conatiner {
        height: 700.4px;
        background-color: #fff;
        border-radius: 20px;
        border: 5px solid #f5821f;
        z-index: 1;
        position: relative;
        font-size: 50px;

        .main--body-item {
          margin-top: 25px;

          .main--body-questions {
            margin-bottom: 0px;
            text-align: center;

            .question {
              background-color: rgb(255, 255, 255);
              color: rgb(0, 0, 0);
              margin-bottom: 15px;
              margin-right: 15px;
              border-radius: 20px;
              display: inline-block;
              padding: 1px 8px 1px 8px;
              border: 4px solid #0fa0c5;
              font-weight: bold;
              opacity: 0.7;
              text-align: center;
              line-height: 1.4;
              cursor: pointer;
            }
            .active {
              background-color: rgb(15, 160, 197) !important;
              color: white !important;
              opacity: 1 !important;
            }
            .incorrect {
              background-color: rgb(15, 160, 197) !important;
              color: white !important;
              opacity: 1 !important;
            }
          }
          .main--body-answer {
            img {
              width: inherit;
              height: fit-content;
              border-radius: 15px;
            }
            .answergroub {
              position: absolute;
              height: 100px;
              top: 0;
              .answer {
                cursor: pointer;
              }
              .answer-1 {
                top: 280px;
                font-weight: bold;
                padding-left: 0px;
                height: 77px;
                width: 365px;
                position: absolute;
                // background-color: pink;
              }
              .answer-2 {
                top: 365px;
                font-weight: bold;
                padding-left: 0px;
                height: 77px;
                width: 365px;
                position: absolute;
                // background-color: antiquewhite;
              }
              .answer-3 {
                top: 365px;
                font-weight: bold;
                padding-left: 0px;
                height: 77px;
                width: 365px;
                position: absolute;
                // background-color: aliceblue;
              }
              .answer-4 {
                left: 30px;
                top: 280px;
                font-weight: bold;
                padding-left: 0px;
                height: 77px;
                width: 365px;
                position: absolute;
                // background-color: beige;
              }
              .answer-5 {
                top: 365px;
                left: 30px;
                font-weight: bold;
                padding-left: 0px;
                height: 77px;
                width: 365px;
                position: absolute;
                // background-color: whitesmoke;
              }
            }
          }
        }
      }
    }
    .main--footer {
      position: relative;
      height: 127.8px;
      align-items: center;
      overflow: hidden;
      padding-top: 15px;
      margin-top: -15.25px;
      display: flex;
      background: #deecf6;
      .main--footer-groupbutton_reset {
        text-align: left;
        margin-top: -11px;
        .restetAll {
          background: {
            image: url("../img/relad.png");
            repeat: no-repeat;
            position: center;
            size: cover;
          }
          margin: 1% 0% 1% 1%;
          width: 85px;
          height: 76px;
          outline : {
            color: transparent;
            style: none;
          }
          border-radius: 20px;
          &:active {
            outline: 0;
            outline-style: none;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
      }
      .main--footer-groupbutton_result {
        text-align: center;
        margin-top: -11px;
        .result {
          background: {
            image: url("../img/show.png");
            repeat: no-repeat;
            position: center;
            size: cover;
          }
          margin: 1% 0% 1% 1%;
          width: 85px;
          height: 76px;
          outline : {
            color: transparent;
            style: none;
          }
          border-radius: 20px;
          &:active {
            outline: 0;
            outline-style: none;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}

/*modal dedign */

.modal {
  .modal-dialog {
    width: 100%;
    margin-top: 55px;
    padding-right: 0px;
    .model-contentTwo {
      padding: 0 !important;
    }
    .modal-content {
      padding-top: 15px;
      padding-right: 18px;
      padding-bottom: 15px;
      border: 3px solid #f5821f;
      .close {
        opacity: 1;
        outline : {
          color: transparent;
          style: none;
        }
        border-radius: 20px;
        &:active {
          outline: 0;
          outline-style: none;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
        &:hover {
          opacity: 1;
        }

        width: 43px;
        height: 56px;
        position: absolute;
        top: 0%;
        right: 1%;
        z-index: 111;
        img {
          width: 100%;
        }
      }
    }
    .modal-body {
      height: inherit;
      max-height: 455px;
      padding-right: 0px;
      font-family: "myFirstFont";
      font-size: 30px;
      img {
        width: 100%;
        object-fit: contain;
      }
      overflow-y: auto;
      p {
        font-family: "myFirstFont";
      }
    }
  }
}

/*  responsive media screan */

@media screen and (min-width: 992px) {
  .page-content {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    left: 195px;
  }
  .modal .modal-dialog {
    width: 70%;
    margin-top: 55px;
  }
  .modal .modal-dialog .modal-body {
    height: 455px;
  }
  .answer-1,
  .answer-2,
  .answer-3,
  .answer-4,
  .answer-5 {
    padding-left: 50px !important;
  }
  .media-warning {
    padding-left: 20px !important;
  }
}
@media screen and (max-width: 600px) {
  .modal .modal-dialog .modal-body {
    height: 719px;
  }
}
